<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" > 
         
            <div formGroupName ="userData">  
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName= "username"        
                class="form-control"/>

                <span class="help-block" *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched || submitted">


              <span class="help-block  alert alert-danger" *ngIf="signupForm.get('userData.username').errors?.nameIsForbidden">This name is invalid </span>

              <span  class="help-block  alert alert-danger" *ngIf="signupForm.get('userData.username').errors?.required">This field is required!</span>
            
     

                </span>

    
            
            </div>
            <div class="form-group">
          
              <label for="email">email</label>
              <input type="text"  class="form-control" formControlName= "email" />

           
              <span class="help-block" *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched || submitted">

         <span class="help-block alert alert-danger" *ngIf="signupForm.get('userData.email').errors?.required">
           This email is required </span>
           <span class="help-block alert alert-danger" *ngIf="signupForm.get('userData.email').errors?.email">
            This email is invalid </span>
         <span class="help-block alert alert-danger" *ngIf="emailforbidden">This email is forbidden</span>
              


            </span>


           
            </div>
            
        </div>
       
        
               <div class="form-group">
               

              <label for="email" style="display: block;">Gender</label>
              <div *ngFor = "let gender of genders">  
              <input type="radio" [value]="gender" formControlName= "gender"/>   {{ gender }}         
 
            </div>
            </div>
       
            <span class="help-block" *ngIf="!signupForm.valid && signupForm.touched">
                This full form is invalid!
            </span>



         
          
             

              <div formArrayName="hobbies">
                <h4>Your Hobbies</h4>

                <button  class="btn btn-default" type="button" (click)="onAddHobbies()" > Add Hobby</button>
             
               <div class="form-group" *ngFor="let hobbyControl of hobbyControls; let i = index">

                  <input type="text"  class="form-control" [formControlName]="i"   />

               </div>
 

            </div>

 
            





          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
